* {
    padding: 0;
    margin: 0;
}

.container {
    width: 960px;
}

.row {
    padding: 20px;
}

.footer {
    display: grid;
    justify-items: center;
    background-color: darkgray;
    margin-top: 30px;
}